/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    padding-top: 70px;
}

table {
  margin-top: 10px;
}

/* Customize container */
@media (min-width: 600px) {
    .container {
        max-width: 768px;
    }
}
/* Customize container */
@media (min-width: 800px) {
    .container-fluid {
        max-width: 1024px;
    }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.jumbotron{
 margin-bottom: 50px;
    background-image: url(../src/assets/images/Hogwarts-dh2.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}